
<button (click)='getFullGraph()' class="btn btn-success b1" type="button"  >
  View Full Chart
</button>
<button id=Top3 (click)='getTop3()'  class="btn btn-success b1" type="button"  >
   Top 3 Viewed Products
</button>
<button id=Top5 (click)='getTop5()' class="btn btn-success b1" type="button"  >
  Top 5 Viewed Products
</button>
<button id=Top7 (click)='getTop7()' class="btn btn-success b1" type="button"  >
  Top 7 Viewed Products
</button>
<div>
    <div style="display: block">
      <canvas baseChart
      
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
  