<p>mychart works!</p>
<button (click)='getFullGraph()' class="btn btn-success b1" type="button"  >
  View Full Chart
</button>
<button (click)='getTop3()' class="btn btn-success b1" type="button"  >
   Top 3 Viewed Products
</button>
<button (click)='getTop5()' class="btn btn-success b1" type="button"  >
  Top 5 Viewed Products
</button>
<button (click)='getTop7()' class="btn btn-success b1" type="button"  >
  Top 7 Viewed Products
</button>
<div>
    <div style="display: block">
      <canvas baseChart
      
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
  