/* a.active{
    color:red;
    font-weight:bold;
}
a{
    text-decoration:none;
} */
#nav {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.nav-item{
    font-size: 20px;
}
.navbar-nav a{
    display: block;
    
    text-align: center;
    padding-right: 16px;
    text-decoration: none;
  }
