

<body>
<div class="signup-form">
	<form [formGroup]="signupForm">
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>                    
				</div>
				<input type="text" id="Name" placeholder="First Name" class="form-control" formControlName="user_name">
				<p class="lblError" *ngIf="signupForm.get('user_name').hasError('required')
				&& !signupForm.get('user_name').pristine">
				Required
				</p>
				<!-- <input type="text" class="form-control" name="username" placeholder="Username" required="required"> -->
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-user"></i>
						
					</span>                    
				</div>
				<input type="text" id="user_Lname" placeholder="Last Name" class="form-control" formControlName="user_Lname">
				<p class="lblError" *ngIf="signupForm.get('user_Lname').hasError('required')
				&& !signupForm.get('user_Lname').pristine">
				Required
				</p>
				<!-- <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required"> -->
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-paper-plane"></i>
					</span>                    
				</div>
				<input type="text" id="email" placeholder="Email Address" class="form-control" formControlName="user_email">
				<p class="lblError" *ngIf="signupForm.get('user_email').hasError('required')
				&& !signupForm.get('user_email').pristine">
				Required
				</p>
				<!-- <input type="email" class="form-control" name="email" placeholder="Email Address" required="required"> -->
			</div>
		</div> 
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
						<i class="fa fa-check"></i>
					</span>                    
				</div>
				<input type="password" id="password" placeholder="Password" class="form-control" formControlName="user_password">
				<p class="lblError" *ngIf="signupForm.get('user_password').hasError('required')
				&& !signupForm.get('user_password').pristine">
				6 chars Required
				</p>
				<!-- <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required"> -->
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-map-marker"></i>
						<!-- <i class="fa fa-check"></i> -->
					</span>                    
				</div>
				<input type="text" id="Location" placeholder="Location" class="form-control" formControlName="user_loc">
				<p class="lblError" *ngIf="signupForm.get('user_loc').hasError('required')
				&& !signupForm.get('user_loc').pristine">
				Required
				</p>
				<!-- <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required"> -->
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-mobile"></i>
						<!-- <i class="fa fa-check"></i> -->
					</span>                    
				</div>
				<input type="text" id="password" placeholder="Mobile Number" class="form-control" formControlName="user_number">
				<p class="lblError" *ngIf="signupForm.get('user_number').hasError('required')
				&& !signupForm.get('user_number').pristine">
				10 Digits Required
				</p>
				<!-- <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required"> -->
			</div>
		</div>
		<!-- <div class="form-group">
			<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div> -->
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-lg" [disabled]="signupForm.invalid" (click)=addUser()>Sign Up</button>
		</div>
		<div *ngIf="signedup" class="form-group">
			<p>New User added Successfully!!!</p>
			<button type="submit" class="btn btn-primary btn-lg"  (click)=goBack()>Go Back</button>
		</div>
	</form>
	<div class="text-center">Already have an account? <a routerLink="../login" >Login here</a></div>
</div>
</body>



