<div>
    <h2>Product details</h2>
    <!-- <div>
            <label>Product Name: </label>{{id}}
    </div> -->
    <button (click)="goBack()">Back</button>
   

  </div>
      <div *ngFor='let car of cars'>   
        <div *ngIf="productname===car.productname">
          <div class="row">
            <div class="col-sm-4">
    
              <img class="card-img-top" [src]="car.img_url">
    
              <li class="list-group-item"><b>Product Name : {{car.productname}}</b></li>
              <li class="list-group-item"><b>Price:</b> {{car.Price}}</li>
    
            </div>
            <div class="col-sm-4">
              <li class="list-group-item"><b>EngineType:</b> {{car.EngineType}}</li>
              <li class="list-group-item"><b>Engine:</b> {{car.Engine}}</li>
    
              <li class="list-group-item"><b>Fuel Type:</b> {{car.Fuel_Type}}</li>
              <li class="list-group-item"><b>Max Power:</b> {{car.Max_Power}}</li>
              <li class="list-group-item"><b>Max Torque:</b> {{car.Max_Torque}}</li>
              <li  class="list-group-item"><b>Mileage:</b> {{car.Mileage}}</li>
              <li  class="list-group-item"><b>Driving Range:</b> {{car.Driving_Range}}</li>
    
    
            </div>
            <div class="col-sm-4">
              <li class="list-group-item"><b>Drivetrain:</b> {{car.Drivetrain}}</li>
              <li class="list-group-item"><b>Transmission:</b> {{car.Transmission}}</li>
              <li  class="list-group-item"><b>Seating Capacity:</b> {{car.Seating_Capacity}}</li>
    
              <li class="list-group-item"><b>Brand:</b> {{car.Brand}}</li>
              <li class="list-group-item"><b>Headlights:</b> {{car.Headlights}}</li>
              <li class="list-group-item"><b>Warranty:</b> {{car.Warranty}}</li>
              <li class="list-group-item"><b>Quantity:</b> {{car.quantity}}</li>
    
            </div>
          </div>
            <!-- <div class="card" style="width: 18rem;">
                <div class="card-body">
                  
                  <img class="card-img-top" [src]="car.img_url">
                  
                  <h5 class="card-title">{{car.productname}}</h5>
                
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Price:</b> {{car.Price}}</li>
                    <li class="list-group-item"><b>Engine:</b> {{car.Engine}}</li>
                    <li class="list-group-item"><b>EngineType:</b> {{car.EngineType}}</li>
                    <li class="list-group-item"><b>Fuel Type:</b> {{car.Fuel_Type}}</li>
                    <li class="list-group-item"><b>Max Power:</b> {{car.Max_Power}}</li>
                    <li class="list-group-item"><b>Max Torque:</b> {{car.Max_Torque}}</li>
                    <li  class="list-group-item"><b>Mileage:</b> {{car.Mileage}}</li>
                    <li  class="list-group-item"><b>Driving Range:</b> {{car.Driving_Range}}</li>
                    <li class="list-group-item"><b>Drivetrain:</b> {{car.Drivetrain}}</li>
                    <li class="list-group-item"><b>Transmission:</b> {{car.Transmission}}</li>
                    <li  class="list-group-item"><b>Seating Capacity:</b> {{car.Seating_Capacity}}</li>
          
                    <li class="list-group-item"><b>Brand:</b> {{car.Brand}}</li>
                    <li class="list-group-item"><b>Headlights:</b> {{car.Headlights}}</li>
                    <li class="list-group-item"><b>Warranty:</b> {{car.Warranty}}</li>
                    <li class="list-group-item"><b>Quantity:</b> {{car.quantity}}</li>
          
                  </ul>
                </div>
            </div> -->
        </div>

    





      </div> 

