

<!-- <input 
  type="string" 
  placeholder="Search Car"
  (input)="searchCars($event.target.value)"
>

<ng-container *ngIf="(CarsPost$ | async) as CarsPost">


    <div *ngFor="let car of CarsPost">

      <div class="row">
        <div class="col-sm-4">

          <img class="card-img-top" [src]="car.img_url">

          <li class="list-group-item"><b>Product Name : {{car.productname}}</b></li>
          <li class="list-group-item"><b>Price:</b> {{car.Price}}</li>
          <li class="list-group-item"><b>EngineType:</b> {{car.EngineType}}</li>
        </div>
        <div class="col-sm-4">

          <li class="list-group-item"><b>Engine:</b> {{car.Engine}}</li>

          <li class="list-group-item"><b>Fuel Type:</b> {{car.Fuel_Type}}</li>
          <li class="list-group-item"><b>Max Power:</b> {{car.Max_Power}}</li>
          <li class="list-group-item"><b>Max Torque:</b> {{car.Max_Torque}}</li>
          <li  class="list-group-item"><b>Mileage:</b> {{car.Mileage}}</li>
          <li  class="list-group-item"><b>Driving Range:</b> {{car.Driving_Range}}</li>
          <li class="list-group-item" ></li>

        </div>
        <div class="col-sm-4">
          <li class="list-group-item"><b>Drivetrain:</b> {{car.Drivetrain}}</li>
          <li class="list-group-item"><b>Transmission:</b> {{car.Transmission}}</li>
          <li  class="list-group-item"><b>Seating Capacity:</b> {{car.Seating_Capacity}}</li>

          <li class="list-group-item"><b>Brand:</b> {{car.Brand}}</li>
          <li class="list-group-item"><b>Headlights:</b> {{car.Headlights}}</li>
          <li class="list-group-item"><b>Warranty:</b> {{car.Warranty}}</li>
          <li class="list-group-item"><b>Quantity:</b> {{car.quantity}}</li>

        </div>
      </div>

    <br>
    </div>
</ng-container> -->
<ng-container>
<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
        placeholder="Enter Car name to search" autofocus>
        
    </div>
    <div >
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let productname of productnames | appFilter: searchText" >
        <span appHighlight
        [searchedWord]="searchText" [content]="productname" [classToApply]="'font-weight-bold'" [setTitle]="'true'"></span>
        
        <a [routerLink]="['/products',productname]" >
          
          <i class="far fa-hand-point-right"></i>  
          </a>
        
      </li>

    </ul>
  </div>
  </div>
</div>
</ng-container>



