
<app-search ></app-search>
<div>
    <img src="https://cars.tatamotors.com/images/nexon/nex-level-desktop-sept_5.png" alt="alternatetext" class="responsive">
    
    <img src="https://cars.tatamotors.com/images/nexon/key-feature-01.jpg" alt="alternatetext" class="responsive">
    <img src="https://cars.tatamotors.com/images/nexon/key-feature-02.jpg" alt="alternatetext" class="responsive">
    <img src="https://cars.tatamotors.com/images/harrier/h-banner.jpg" alt="alternatetext" class="responsive">
</div>